/** {
  outline: 1px solid red;
}*/

* {
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

:after, :before {
  box-sizing: border-box;
}

html, body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height;
  color: $font-color-primary;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $screen-sm-min) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @media (min-width: $screen-xlg-min) {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  &--md {
    @media (min-width: $screen-sm-min) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (min-width: $screen-md-min) {
      padding-top: 60px;
      padding-bottom: 70px;
    }
    @media (min-width: $screen-lg-min) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  &--lg {
    
    @media (min-width: $screen-md-min) {
      padding-bottom: 90px;
    }

    @media (min-width: $screen-lg-min) {      
      padding-bottom: 120px;
    }

    @media (min-width: $screen-xlg-min) {      
      padding-bottom: 150px;
    }
  }
}

.info {
  margin-bottom: 20px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 30px;
  }  

  @media (min-width: $screen-lg-min) {
    margin-bottom: 35px;
  }    

  @media (min-width: $screen-xlg-min) {
    margin-bottom: 45px;
  }

  &--center {
    text-align: center;
  }
 
  &__description {
    line-height: 1.5882352;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-md;
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @media (min-width: $screen-md-min) {
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;

    &:not(:last-child){
      margin-bottom: 16px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 64px;
    }

    @media (min-width: $screen-lg-min) {
      font-size: $font-size-h2;
    }

    &--xlg {
      font-size: $font-size-xlg;

      @media (min-width: $screen-sm-min) {
        font-size: $font-size-h1;
      }
    }

    &--sm {
      font-size: 32px;

      @media (min-width: $screen-sm-min) {
        font-size: 40px;
      }
    }
  }
}