.header {
  padding-top: 355px;
  padding-bottom: 50px;
  background-color: #f9f9fb;
  position: relative;

  @media (min-width: $screen-md-min) {
    background: url(/img/bg-header.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 225px;
    padding-bottom: 125px;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  &__title {
    font-size: $font-size-xlg;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
    }
  }
}