.wrapper--relative {
  position: relative;
}

/*.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.fw-bold {
  font-weight: bold;
}*/

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.row-flex {
  display: block;

  @media (min-width: $screen-md-min) {
    display: flex;
  }
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}