.section-blog {
  background-color: map-get($map-colorbg-section, blog);
  text-align: center;
  color: $font-color-secondary;
}

.article-preview {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-size: 0;
  text-align: left;
  color: $font-color-secondary;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;

  @media (min-width: $screen-md-min) {
    margin-bottom: 35px;
  }

  @media (min-width: $screen-lg-min) {
    margin-bottom: 40px;
  }

  &:focus {
   transform: scale(1.1);
  }

  &:hover {
    @media (min-width: $screen-md-min) {
      transform: scale(1.1);
      opacity: 0.85;
    }
  }

  &:active {
    box-shadow: 0px 0px 10px 10px rgb(65, 42, 97);
  }

  &__date {
    position: absolute;
    left: 30px;
    top:  30px;
    border-radius: 5px;
    width: 60px;
    line-height: 1;
    padding: 3px 9px;
    background-color: rgba(38, 38, 38, 0.502);
    text-align: center;

    @media (min-width: $screen-md-min) {
      left: 10px;
      top:  10px;
    }

    @media (min-width: $screen-lg-min) {
      left: 20px;
      top:  20px;
    }

    @media (min-width: $screen-xlg-min) {
      left: 30px;
      top:  30px;
    }
  }

  &__day {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.8;

    @media (min-width: $screen-md-min) {
      font-size: $font-size-lg;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 32px;
    }
  }

  &__month {
    font-size: $font-size-lg;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;

    @media (min-width: $screen-md-min) {
      font-size: $font-size-base;
    }

    @media (min-width: $screen-lg-min) {
      font-size: $font-size-lg;
    }
  }

  &__info {
    display: block;
    position: absolute;
    bottom: 0;
    max-height: 150px;
    padding: 45px 25px 30px 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));

    @media (min-width: $screen-md-min) {
      padding: 45px 20px 15px 20px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 45px 25px 30px 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $screen-md-min) {
      margin-bottom: 15px;
    }

    @media (min-width: $screen-lg-min) {
      margin-bottom: 20px;
    }
  }

  &__author {
    display: block;
    font-size: 13px;
    font-weight: 300;
  }

  
} 
