.section-contact {
  background-color: map-get($map-colorbg-section, contact);
  
  @media (min-width: $screen-md-min) {
    background: url(/img/bg-contact.jpg) center center no-repeat;
    background-size: cover;
  }
}

.form-contact {
  width: 100%;
  font-size: 0;
  margin-bottom: 30px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg-min) {
    width: 450px;
  }

  @media (min-width: $screen-xlg-min) {
    width: 500px;
  }

  &__field {
    width: 100%;
    padding: 14px 20px;
    background-color: $bg-color-form;
    border: none;
    border-left: 3px solid transparent;
    font-size: $font-size-form;
    font-weight: bold;
    line-height: 1.5625;
    color: $font-color-secondary;    
    outline: none;
  }

  &__field::placeholder {
    color: $font-color-secondary;
    font-weight: 300;
  }  

  &__field--lg {
    font-family: $font-family-base;
    height: 200px;
    resize: none;

    &::placeholder {
      font-weight: 400;
    }  
  }

  &__field:not(:last-child) {
    margin-bottom: 15px;
  }

  &__field:focus {
    border-left: 3px solid #355b82;
  }

  &__field:hover {
    @media (min-width: $screen-md-min) {
      background-color: lighten($bg-color-form, 7%);
    }    
  }

  &__field:active {
    background-color: darken($bg-color-form, 7%);
  }
}

.contact {
  padding-left: 0;

  @media (min-width: $screen-lg-min) {
    padding-left: 50px;
  }

  @media (min-width: $screen-xlg-min) {
    padding-left: 70px;
  }

  &__group:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-size: $font-size-md;
    font-weight: bold;
    line-height: 1,470588;
    text-transform: uppercase;
  }

  &__lead {
    font-size: $font-size-lg;
    font-weight: 300;
    line-height: 1.25;
  }
}

.link-contact {

  &:focus {
    color: $bg-color-form;
  }

  &:hover {
    @media (min-width: $screen-md-min) {
      color: $bg-color-form;
    }
  }

  &:active {
    color: darken($bg-color-form, 7%);
  }
}