.section-services {
  background-color: #70bfff;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px; 

  @media (min-width: $screen-md-min) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @media (min-width: $screen-xlg-min) {
    padding-top: 105px;
    padding-bottom: 150px;
  }

  &__controls {
    @media (min-width: $screen-lg-min) {
      padding-top: 55px;
    }    

    @media (min-width: $screen-xlg-min) {
      padding-right: 58px;
      padding-top: 75px;
    }
  }

  &__info {
    position: relative;

    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
    
  }

  &__img {
    margin-left: auto;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  &__title {
    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
      padding-left: 60px;
    }       
  } 
}