$WHITE: #fff;
$DARK-GRAY: #262626;
$GREEN: #96b92c;
$ORANGE: #ff6033;
$TURQUOISE: #00c4c4;

$color-white: $WHITE;
$color-dark-gray: $DARK_GRAY;
$color-green: $GREEN;
$color-orange: $ORANGE;
$color-turquoise: $TURQUOISE;

// Background color
$bg-color-primary: $WHITE;
$bg-color-footer: $DARK-GRAY;
$bg-color-form: $TURQUOISE;

// Fonts
$font-family-base: 'Raleway', Helvetica, Arial, sans-serif;
$line-height: 1.6875;

$font-size-base: 16px;
$font-size-h1: 60px;
$font-size-h2: 90px;
$font-size-xlg: 44px;
$font-size-lg: 20px;
$font-size-md: 17px;
$font-size-sm: 11px;
$font-size-form: 15px;

// Font color
$font-color-primary: $DARK_GRAY;
$font-color-secondary: $WHITE;

//Controls
$color-btn-toggle-menu: $ORANGE;

$color-link-autor: #f12b55;

// Subscription form colors
$map-color-border-form-supscribe: ( 
  border: $DARK-GRAY,
  outline: $GREEN,
  );

// Map. List of section background colors
$map-colorbg-section: (
  about: #00aeae, 
  blog: #b07cf7, 
  contact: #c0dcea, 
  gallery: #ffe92f,
  services: #70bfff,
  subscribe: $WHITE,
);

// Map. List of button background colors
$map-color-bg-controls: (
  1: $ORANGE, 
  2: #5585a2, 
  3: $GREEN, 
  4: #f72b3f,
);

//Breakpoints
$screen-xs:                  320px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  576px;
$screen-sm-min:              $screen-sm;

$screen-md:                  768px;
$screen-md-min:              $screen-md;

$screen-lg:                  992px;
$screen-lg-min:              $screen-lg;

$screen-xlg:                 1200px;
$screen-xlg-min:             $screen-xlg;

$screen-xs-max:              ($screen-sm-min - 1); // до 575
$screen-sm-max:              ($screen-md-min - 1); // до 767
$screen-md-max:              ($screen-lg-min - 1); // до 991
$screen-lg-max:              ($screen-xlg-min - 1); // до 1199